#app-menu {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  color: #404648;
  background: #44474840;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 500;
  backdrop-filter: invert(80%) brightness(200%) blur(5px);
  filter: invert(100%) contrast(120%);
}

#app-menu * {
  white-space: nowrap;
}

#app-menu[data-show=true] {
  width: 412px;
}

#app-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-auto-flow: dense;
  gap: 8px;
  margin-top: 30px;
  padding: 32px;
  text-align: center;
}

.app-menu-item {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  /* color: rgba(25, 36, 46, 0.842); */
  display: block;
  transition: 0.2s;
  width: 100%;
  opacity: 0.3;
  width: 100%;
  height: fit-content;
}

.app-menu-item:hover,
.app-menu-item:focus {
  color: #a1afbd;
}

#app-menu[data-show=true] .app-menu-item {
  opacity: 1;
}

#app-menu-close {
  /* position: absolute; */
  /* top: 20px; */
  /* right: 45px; */
  font-size: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 0px;
  margin: 8px 32px;
  text-align: right;
}