#app-menu {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  color: #404648;
  background: #44474830;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 500;
  backdrop-filter: invert(90%) brightness(200%) blur(2.5px);
  filter: invert(100%) contrast(120%);
}

#app-menu * {
  white-space: nowrap;
}

#app-menu[data-show=true] {
  width: 412px;
}

#app-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-auto-flow: dense;
  gap: 8px;
  margin-top: 30px;
  padding: 32px;
  text-align: center;
  opacity: 0;
  transition: 0.1s ease-out;
}

.app-menu-item {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: block;
  transition: 0.2s;
  width: 100%;
  width: 100%;
  height: fit-content;
  filter: invert(0.8)  hue-rotate(0) contrast(160%);
}

.app-menu-item:hover,
.app-menu-item:focus {
  color: #a1afbd;
}

#app-menu[data-show=true] #app-menu-items {
  opacity: 1;
}

#app-menu-close {
  font-size: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0px;
  margin: 8px 32px;
  text-align: right;
}