#grid-options {
  /* position: sticky; */
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 0px;
  padding: 0 4px 0 24px;
  /* border: 1px solid #FFFFFF; */
  transition: height 0.2s;
  will-change: height;

}

#grid-options>* {
  display: none;
  padding: 0 2px;
  transition: padding 0.1s;
  will-change: padding;

}

#grid-options[data-show=true] {
  height: 30px;
  padding: 2px 4px 2px 24px;

}

#grid-options[data-show=true]>* {
  display: flex;
  padding: 2px 2px;

}

#grid-options * {
  user-select: text;
}

.grid-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  background: #47494B;
  padding: 2px 2px;
  transition: 0.2s;
}

.grid-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  background: #47494B;
  padding: 2px 2px;
  transition: 0.2s;
}

.grid-option:hover {
  outline: 1px solid orange;
}

.grid-option label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 2px;
}

.grid-option input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 32px;

  font-size: 13px;
  font-weight: 600;
  padding: 1px 4px;
  background: none;
  border: none;
  color: #DFDFDF;
  text-align: right;
  outline: none;
}