* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  /* position: absolute; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  /* max-width: 100vw; */
  height: 100%;
  overflow: hidden;
  background: #2E2F31;
  color: #EFEFEF;
}

#file-input {
  display: none;
}


.gradient {
  background-image: linear-gradient(0deg, #2C3032, #2F3135),
    linear-gradient(to right, #1E4B73, #352F34),
    linear-gradient(to right, #1E4B73, #2F3135);
  background-blend-mode: initial,
    color-dodge,
    difference;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: bottom right,
    left,
    right;
}


#app-header {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 4px;
  padding: 8px;
  overflow: hidden;
row-gap: 16px;
}

#app-header button {
  padding: 4px;
  height: fit-content;
  
}

#app-header-top {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 280px 1fr;
  grid-template-columns: 1fr auto;
  gap: 0px;
  width: 100%;
  height: fit-content;
  padding: 0px 8px;
  overflow: hidden;
}

#app-header-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  font-size:  14px;
}

#header-center-top {
  font-size: 13px;
  color: #CDCDCD;
}

#app-body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#map {
  position: relative;
  top: 0px;
  left: 0;
  display: grid;
  gap: 0px;
  grid-template-areas:
    "corn cols"
    "rows body";
  width: 100%;
  height: 100%;
}

#map-body {
  grid-area: body;
  position: sticky;
  top: 32px;
  left: 32px;
  display: grid;
  gap: 0px;
  background: #AFAFAF;
  z-index: 101;
}

#map-cols {
  position: sticky;
  top: 0;
  left: 32px;
  grid-area: cols;
  display: grid;
  grid-template-columns: repeat(32, 32px);
  grid-template-rows: 32px;
  gap: 0px;
  height: 32px;
  width: 100%;
  border-right: 1px solid #D1D1D1;
  z-index: 102;
}

#map-rows {
  grid-area: rows;
  position: sticky;
  top: 32px;
  left: 0;
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: repeat(32, 32px);
  gap: 0px;
  border-bottom: 1px solid #D1D1D1;
  z-index: 102;
}

#map-rows,
#map-cols {
  gap: 0px;
  backdrop-filter: invert(0.3) brightness(90%);
  /* opacity: 0.9; */
  color: #C1C1C1A3;

}

#map-rows div,
#map-cols div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #C1C1C1;
  gap: 0px;
  border-bottom: 1px solid #46484A;
  border-right: 1px solid #46484A;
  
  background: #2E2F31
}

#map-corn {
  position: sticky;
  z-index: 200;
  grid-area: corn;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: #2E2F31;
  /* background: #15CF50; */
}

/* #overlay {
  position: absolute;
  posx: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
  background: #14FF0030;
  z-index: 50;
  border: 1px solid #3B3B3B;
  overflow: scroll;
} */

.cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border: 0.25px solid #37373750;
  background: #5F5F5F;
  color: #EFEFEF;
}

.cell[data-selected=true] {
  background: #DE9D2AF0;
}

.cell[data-has-character=true] {
  font-size: 22px;
}

.cell[data-is-exit=true] {
  font-size: 22px;
}

.cell[data-is-path-node=true] {
  font-size: 22px;
  background: #DE9D2AF0;
  /* backdrop-filter: brightness(130%); */
}

.cell[data-cell-type-name=barrier] {
  background: #3B3B3B;
  background: #191A2020;
  color: #191A2000;
  background: #24262F10;
  font-size: 20px;
}

.tile {
  background: #FFFFFF;
  border: 0.25px solid #37373750;
  /* transition: 0.075s ease; */
}

.tile[data-selected=true] {
  background: #FFFFFF;
  border: 0.5px solid #FFB800;
}

.tile[data-deleting=true] {
  background: #C51C1C;
  border: 0.5px solid #FFB800;
}

.tile[data-tile-type=ground] {
  background: #FFFFFF;
  border: 0.25px solid #37373700;
}

.tile[data-tile-type=barrier] {
  background: #5F5F5F;
}

.tile[data-tile-type=start] {
  background: #B82C18;
}

.tile[data-tile-type=exit] {
  background: #12CA27;
}

.tile:active {
  border: 1.5px double #FFB800;

  background: #FFEB0566;
}

.tile[data-deleting=true]:active {
  border: 1.5px double #FFB800;

  background: #DD2626;
}

.selection {
  display: contents;

}

#app-footer {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0px;

  background: #F21515;
  background: #191A2015;
  width: 100%;
  height: 100%;
  padding: 6px;
  z-index: 100;
  overflow-x: scroll;

}

#controls-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: #EFEFEF90;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  background: #F21515;
  background: #191A2015;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 4px;
}

.app-button {
  background: #3A3B42;
  border: 1px solid #5F5F5F;
  height: 100%;
  border-radius: 3px;
  color: #EFEFEF;
  font-size: 18px;
  padding: 8px
}

.app-button:active {
  background: #3F415320;
}


#save-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-around; */
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  padding: 16px;
}

#save-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  /* width: 100%; */
  /* height: 100%; */
  padding: 16px;
}

#save-form label {
  width: 100%;
  font-size: 18px;
  text-align: left;
}

#map-name-input {
  font-size: 20px;
  padding: 10px 8px 4px 8px;
  border: none;
  /* border-radius: 4px 4px 0 0; */
  background: none;
  color: #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  backdrop-filter: brightness(120%);
  outline: none;
}


#map-name-submit {
  width: 100%;
}

#load-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.saved-map-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 16px;
}

.map-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 16px;
  background: #44484A;
}


.property-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  padding: 4px 4px;
  background: #3B3B3B;
  background: #25272F;
  font-size: 14px;

}

.property-input-label {}

.property-input-input {}

.property-input[data-editing=true] .property-input-input {}